<% title t('posts') %>

<table width=100%>
  <tr>
    <th><%=t :user %></th>
    <th><%=t :title %></th>
    <th><%=t :content %></th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.user.username, user_path(post.user) %></td>
      <td><%= link_to post.title, post %></td>
      <td><%= truncate(post.content, :length => 80, :omission => " ...") %></td>
      <% if post.user.username = current_user %>
        <td><%= link_to t('edit'), edit_post_path(post) %></td>
        <td><%= link_to t('delete'), post, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to t('new_post'), new_post_path %></p>
