<% title t('post') %>

<p>
	<strong><%=t :user %>:</strong>
	<%= @post.user.username %>
<p>
  <strong><%=t :title %>:</strong>
  <%= @post.title %>
</p>
<p>
  <strong><%=t :content %>:</strong>
  <%= @post.content %>
</p>
<p>
	<% if @post.updated_at != @post.created_at %>
	  <strong><%=t :last_edited %>:</strong>
	  <%=t @post.updated_at.strftime("%I:%M %p, %d %b %y") %>
  <% end %>
</p>
<p>
<%= liked(@post, current_user) %>
<br/><br/>
<%= likers(@likers) %>
</p>
<p>
	<% if @post.user.username = current_user %>
		<%= link_to t('edit'), edit_post_path(@post) %> |
		<%= link_to t('delete'), @post, :confirm => 'Are you sure?', :method => :delete %> |
	<% end %>
	<%= link_to t('view_all'), posts_path %>
</p>